<div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="preset.name" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="preset.description" name="description" id="description">
    </div>
    <div class="form-group">
        <label for="description">Technology</label>
        <input type="text" class="form-control" [(ngModel)]="preset.technology" name="technology" id="technology">
    </div>
   <div class="form-group">
        <label for="description">Description</label>
    <input type="file" ng2FileSelect name="file" [uploader]="uploader"/>
    <table class="table">
        <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
        </tr>
    </table>
    <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
    </div>
     <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>